@import './reset.color.less';
@import 'epic.designer.reset.less';

html,
body,
#app {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--private-body-bg);
  color: var(--private-primary-text-color);
}

/* 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题 */
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; //作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
  -webkit-line-clamp: 1; //显示的行
}

:root {
  .margin-left-12 {
    margin-left: 12px;
  }

  .margin-left-10 {
    margin-left: 10px;
  }

  .button-39 {
    height: 39px;
  }
  /*========================antd布局=============================*/
  .ant-layout {
    min-height: 100%;
  }

  .main {
    flex: 1;
  }

  .ant-layout-header {
    box-sizing: border-box;
  }

  .ant-layout-content {
    margin: 10px 12px;
    min-height: 280px;
    min-width: 900px;
  }

  .ant-layout-sider-trigger {
    text-align: right;
    padding-right: 16px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .list-table-content {
    padding: 15px;
    box-sizing: border-box;
  }
  .page-form-content {
    padding: 15px;
    box-sizing: border-box;
  }

  /*========================antd form表单&元素=============================*/
  /*自定义 校验规则展示小红点*/
  .nesting-form-item .ant-form-item-label:before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }

  .ant-input-number {
    width: 100%;
  }

  .ant-picker {
    width: 100%;
  }

  .header-tool-right-icon {
    display: flex;
    align-items: center;
  }

  // 详情页面formdisable
  .form-all-disable {
    pointer-events: none;

    .ant-input {
      background-color: var(--private-form-disabled-bg);
      border-color: var(--private-form-disabled-border);
      box-shadow: none;
      color: var(--private-not-optional-text-color);
      cursor: not-allowed;
      opacity: 1;
    }

    .ant-select {
      .ant-select-selector {
        background: var(--private-form-disabled-bg);
        border-color: var(--private-form-disabled-border);
        box-shadow: none;
        color: var(--private-not-optional-text-color);
        cursor: not-allowed;
        opacity: 1;
      }
    }
    .ant-radio,
    .ant-radio-checked {
      color: var(--private-not-optional-text-color);
      .ant-radio-inner {
        background-color: var(--private-form-disabled-bg);
        border-color: var(--private-form-disabled-border);
        box-shadow: none;
        color: var(--private-not-optional-text-color);
        cursor: not-allowed;
        opacity: 1;
      }
      .ant-radio-inner:after {
        background-color: #0003;
      }
    }
    .ant-checkbox-wrapper {
      border-color: var(--private-form-disabled-border);
      box-shadow: none;
      cursor: not-allowed;
      opacity: 1;
      .ant-checkbox {
        background-color: #0003;
      }
      .ant-checkbox-inner {
        background-color: var(--private-form-disabled-bg);
        border-color: var(--private-form-disabled-border);
      }
      .ant-checkbox-checked {
        .ant-checkbox-inner:after {
          border-color: var(--private-not-optional-text-color);
        }
      }
    }

    .ant-tree {
      border-color: var(--private-form-disabled-border);
      box-shadow: none;
      cursor: not-allowed;
      opacity: 1;
      .ant-tree-checkbox-inner {
        background-color: var(--private-form-disabled-bg);
        border-color: var(--private-form-disabled-border);
      }
      .ant-tree-checkbox-checked {
        .ant-tree-checkbox-inner:after {
          border-color: var(--private-not-optional-text-color);
        }
      }
    }
  }

  /*========================antd table=============================*/

  .table-custom-primary {
    color: var(--ant-primary-color);
  }

  .table-custom-primary-disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--private-primary-text-color);
  }

  .table-custom-danger {
    color: var(--ant-error-color);
  }

  .table-pagination {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /*========================antd 弹窗类=============================*/
  .ant-drawer-footer-custom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .ant-drawer-header-close-only {
    padding-bottom: 16px;
  }

  /*========================html展示JSON=============================*/
  .tip-container {
    border: 1px dashed var(--private-form-disabled-border);
    min-height: 32px;
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;

    .string {
      color: green;
    }

    .number {
      color: darkorange;
    }

    .boolean {
      color: blue;
    }

    .null {
      color: magenta;
    }

    .key {
      color: red;
    }
  }
}
