@font-face {
  font-family: 'iconfont'; /* Project id 4140184 */
  src: url('iconfont.woff2?t=1692671880273') format('woff2'), url('iconfont.woff?t=1692671880273') format('woff'),
    url('iconfont.ttf?t=1692671880273') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juxing1:before {
  content: '\e636';
}

.icon-icon-:before {
  content: '\e739';
}

.icon-drag:before {
  content: '\e66d';
}

.icon-dian1:before {
  content: '\e608';
}

.icon-question-circle:before {
  content: '\e782';
}

.icon-zhuti:before {
  content: '\e65e';
}
