@font-face {
  font-family: 'iconfont'; /* Project id 4140184 */
  src: url('iconfont.woff2?t=1690769364852') format('woff2'), url('iconfont.woff?t=1690769364852') format('woff'),
    url('iconfont.ttf?t=1690769364852') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian1:before {
  content: '\e608';
}

.icon-dian:before {
  content: '\ec1e';
}

.icon-question-circle:before {
  content: '\e782';
}

.icon-question-circle1:before {
  content: '\e81f';
}

.icon-zhuti:before {
  content: '\e65e';
}

.icon-zhuti-04:before {
  content: '\e600';
}
